.icon-48-audits {
      background-image: url(../images/l_audits.png);
      padding-left:60px!important;
}

.icon-48-audit {
      background-image: url(../images/l_audits.png);
      padding-left:60px!important;
}

.icon-48-breeders {
      background-image: url(../images/l_breeders.png);
      padding-left:60px!important;
}

.icon-48-breeder {
      background-image: url(../images/l_breeders.png);
      padding-left:60px!important;
}

.icon-48-colors {
      background-image: url(../images/l_colors.png);
      padding-left:60px!important;
}

.icon-48-color {
      background-image: url(../images/l_colors.png);
      padding-left:60px!important;
}

.icon-48-countries {
      background-image: url(../images/l_countries.png);
      padding-left:60px!important;
}

.icon-48-country {
      background-image: url(../images/l_countries.png);
      padding-left:60px!important;
}

.icon-48-dogs {
      background-image: url(../images/l_dogs.png);
      padding-left:60px!important;
}

.icon-48-dog {
      background-image: url(../images/l_dogs.png);
      padding-left:60px!important;
}

.icon-48-delegations {
      background-image: url(../images/l_delegations.png);
      padding-left:60px!important;
}

.icon-48-delegation {
      background-image: url(../images/l_delegations.png);
      padding-left:60px!important;
}

.icon-48-judgings {
      background-image: url(../images/l_judgings.png);
      padding-left:60px!important;
}

.icon-48-judging {
      background-image: url(../images/l_judgings.png);
      padding-left:60px!important;
}

.icon-48-owners {
      background-image: url(../images/l_owners.png);
      padding-left:60px!important;
}

.icon-48-owner {
      background-image: url(../images/l_owners.png);
      padding-left:60px!important;
}

.icon-48-patterns {
      background-image: url(../images/l_patterns.png);
      padding-left:60px!important;
}

.icon-48-pattern {
      background-image: url(../images/l_patterns.png);
      padding-left:60px!important;
}

.icon-48-peoples {
      background-image: url(../images/l_peoples.png);
      padding-left:60px!important;
}

.icon-48-people {
      background-image: url(../images/l_peoples.png);
      padding-left:60px!important;
}

.icon-48-persondelegations {
      background-image: url(../images/l_persondelegations.png);
      padding-left:60px!important;
}

.icon-48-persondelegation {
      background-image: url(../images/l_persondelegations.png);
      padding-left:60px!important;
}

.icon-48-registrations {
      background-image: url(../images/l_registrations.png);
      padding-left:60px!important;
}

.icon-48-registration {
      background-image: url(../images/l_registrations.png);
      padding-left:60px!important;
}

